.popup__input {
  border: none;
  margin: 0;
  padding: 0 0 13px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  transition: border-color .2s linear;
}

.popup__input:invalid {
  border-color: rgba(255, 0, 0, 1);
}


@media screen and (max-width: 767px) {
  .popup__input {
    padding-bottom: 9px;
  }
}
