.places__card {
  position: relative;
  background: #ffffff;
  border-radius: 10px;
  width: 282px;
  height: 361px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
