.profile__btn-add {
  border: 2px solid #ffffff;
  border-radius: 2px;
  width: 150px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../../images/plus.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  margin: 0 0 0 auto;
  padding: 0;
  transition: opacity 0.3s ease-in-out;
}

.profile__btn-add:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .profile__btn-add {
    background-size: 15px;
    width: 100%;
  }
}
